



  @media (prefers-color-scheme: dark) {
    body {
      width: 110px;
      height: 120px;
      text-align: center;
      display: flex;
      justify-content:center;
      flex-direction: column; 
      margin-left: 0px;
      margin-top: 0px;
      padding-bottom: 8px;
      background-color: #1f1f1f;
      }
    .segundosCounter{
      font-size: 48px;
      line-height:48px;
      font-style: normal;
      font-weight: 400;
      color: #ffdd00;
      font-family: 'Arial';
      background-color: #1f1f1f;
    }
    .segundosDescription{
      font-size: 14px;
      line-height:14px;
      font-family: 'Arial';
      font-style: normal;
      font-weight: 600;
      color: #ffdd00;
      background-color: #1f1f1f;
    }
    .container
    {
    /* background-color: aqua; */
    }
    .circle
    {
      width: 95px;
      height: 95px;
      border: 4px solid #ffdd00;
      border-radius: 50%;
    }
    .circleContainer
    {
      position: absolute;
      width: 110px;
      height: 120px;
      display: flex;
      align-items:center;
      justify-content:center;
      flex-direction: column;
    }
  }
  
  @media (prefers-color-scheme: light) {
    body {
      width: 110px;
      height: 120px;
      text-align: center;
      display: flex;
      justify-content:center;
      flex-direction: column; 
      margin-left: 0px;
      margin-top: 0px;
      padding-bottom: 8px;
      
      }
    .segundosCounter{
      font-size: 48px;
      line-height:48px;
      font-style: normal;
      font-weight: 400;
      color: #2c2c30;
      font-family: 'Arial';
      
    }
    .segundosDescription{
      font-size: 14px;
      line-height:14px;
      font-family: 'Arial';
      font-style: normal;
      font-weight: 600;
      color: #2c2c30;
      
    }
    .container
    {
    /* background-color: aqua; */
    }
    .circle
    {
      width: 95px;
      height: 95px;
      border: 4px solid #2f7abf;
      border-radius: 50%;
    }
    .circleContainer
    {
      position: absolute;
      width: 110px;
      height: 120px;
      display: flex;
      align-items:center;
      justify-content:center;
      flex-direction: column;
    }
  }

