<!DOCTYPE html>
    <html lang="en">
    <head>
      <link rel="stylesheet" href="style.css">
    </head>
    <body>        
        <div class="progressbar">
          <svg class="progressbar__svg">
              <circle cx="120" cy="120" r="104" class="second_circle"> </circle>
              <circle cx="120" cy="120" r="103" class="progressbar__svg-circle circle-scss"> </circle>
              <circle cx="120" cy="120" r="108" class="outline1"> </circle>
              <circle cx="120" cy="120" r="98" class="outline2"> </circle>
          </svg>
      </div> 

 
              
  <div id="capture" class="container">
      <div id="secondsCounter" class="segundosCounter">18</div>
      <div class="segundosDescription">
          Segundos
      </div>
  </div> 


        

    
    </body>
    </html>